@model Valorizaciones.Models.PartidasModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>eliminar</title>
</head>
<body>
    <h3>Esta seguro que desea.</h3>
    <div>
        <h4>Eliminar comprobante.</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.partida)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.partida)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.unidad_id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.unidad_id)
            </dd>

        </dl>

        @using (Html.BeginForm("Delete", "Partidas"))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.id)

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-default" />
            </div>
        }
    </div>
</body>
</html>
