@model Valorizaciones.Models.Contrato_partidasModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nuevo</title>
    <style>
        ul.ui-autocomplete {
            z-index: 1100;
        }
    </style>
</head>
<body>
    <span id="dato_contrato_id">
        @ViewData["vw_contrato_id"]
    </span>

    @using (Html.BeginForm("insert", "Contrato_partidas"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Nueva Partida</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })            

            <div class="form-group">
                <label class="control-label col-md-2" for="partida_id">partida</label>
                <div class="col-md-10">
                    <input type="text" id="partida" class="form-control" />
                    <input type="hidden" id="partida_id" name="partida_id" />
                    <input type="hidden" id="contrato_id" name="contrato_id" />
                    <input type="hidden" id="aprobancion_contratista" name="aprobancion_contratista" value="0" />                    
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.codigo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.codigo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.codigo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="partida_id">metrado</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cantidad, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cantidad, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.precio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.precio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.precio, "", new { @class = "text-danger" })
                </div>
            </div>            

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    <script type="text/javascript">

        $(document).ready(function () {
            var variable_contrato_id = $("#dato_contrato_id").text();
            $("#contrato_id").val(variable_contrato_id);

            $('form').attr('autocomplete', 'off');
            $('#partida').autocomplete({
                source: '/Partidas/js_partidas_buscador',
                minLength: 2,
                select: function (event, ui) {
                    $('#partida_id').val(ui.item.id);
                }
            });
        });
    </script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</body>
</html>
