@model Valorizaciones.Models.ContratosModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>eliminar</title>
</head>
<body>
    <h3>Esta seguro que desea eliminar el contrato</h3>
    <div>
        <h4>Eliminar Contrato.</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.proyecto_id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.proyecto_id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ruc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ruc)
            </dd>

        </dl>

        @using (Html.BeginForm("Delete_update", "Contratos"))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.id)

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-default" />
            </div>
        }
    </div>
</body>
</html>
