@model Valorizaciones.Models.ContratosModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>modificar</title>
</head>
<body>
    @using (Html.BeginForm("Update", "Contratos"))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Modificar contrato</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.proyecto_id, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.proyecto_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.proyecto_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ruc, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.ruc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ruc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.razon_social, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.razon_social, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.razon_social, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.numero, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.numero, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.numero, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">            
            <div class="col-md-3">
                <label>presupuesto referencial<br />(SIN IGV)</label>
            </div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.presupuesto_referencial, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.presupuesto_referencial, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">            
            <div class="col-md-3">
                <label>presupuesto contratado<br />(SIN IGV)</label>
            </div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.presupuesto_contratado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.presupuesto_contratado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.plazo, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.plazo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.plazo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.adelanto_directo, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.adelanto_directo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.adelanto_directo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.gastos_generales, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.gastos_generales, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.gastos_generales, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.gastos_otros, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.gastos_otros, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.gastos_otros, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.utilidad, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.utilidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.utilidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha_inicio_obra, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.fecha_inicio_obra, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fecha_inicio_obra, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha_inicio_obra_max, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.fecha_inicio_obra_max, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fecha_inicio_obra_max, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha_entrega_terreno, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.fecha_entrega_terreno, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fecha_entrega_terreno, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.porcentaje_ganador, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.porcentaje_ganador, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.porcentaje_ganador, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Modificar" class="btn btn-default" />
            </div>
        </div>
    </div>
    }

    <script type="text/javascript">
        $(document).ready(function () {
            $('form').attr('autocomplete', 'off');
            var fecha_programacion = $("#fecha").val();
            fecha_programacion = fecha_programacion.substring(0, 10)
            $("#fecha").val(fecha_programacion);
            $('#fecha').datepicker({ dateFormat: 'dd/mm/yy' });

            var fecha_inicio_obra = $("#fecha_inicio_obra").val();
            fecha_inicio_obra = fecha_inicio_obra.substring(0, 10)
            $("#fecha_inicio_obra").val(fecha_inicio_obra);
            $('#fecha_inicio_obra').datepicker({ dateFormat: 'dd/mm/yy' });

            var fecha_inicio_obra_max = $("#fecha_inicio_obra_max").val();
            fecha_inicio_obra_max = fecha_inicio_obra_max.substring(0, 10)
            $("#fecha_inicio_obra_max").val(fecha_inicio_obra_max);
            $('#fecha_inicio_obra_max').datepicker({ dateFormat: 'dd/mm/yy' });

            var fecha_entrega_terreno = $("#fecha_entrega_terreno").val();
            fecha_entrega_terreno = fecha_entrega_terreno.substring(0, 10)
            $("#fecha_entrega_terreno").val(fecha_entrega_terreno);
            $('#fecha_entrega_terreno').datepicker({ dateFormat: 'dd/mm/yy' });
        });
    </script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</body>
</html>