@model Valorizaciones.Models.ContratosModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>perfil</title>
</head>
<body>
    <div>
        <h4>ContratosModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.proyecto_id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.proyecto_id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ruc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ruc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.razon_social)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.razon_social)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.numero)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.numero)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fecha)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fecha)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.monto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.monto)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.plazo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.plazo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.adelanto_directo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.adelanto_directo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.gastos_generales)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gastos_generales)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.gastos_otros)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gastos_otros)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.utilidad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.utilidad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fecha_inicio_obra)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fecha_inicio_obra)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fecha_inicio_obra_max)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fecha_inicio_obra_max)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fecha_entrega_terreno)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fecha_entrega_terreno)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.estado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.estado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.presupuesto_notas)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.presupuesto_notas)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.porcentaje_ganador)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.porcentaje_ganador)
            </dd>

        </dl>
    </div>    
</body>
</html>
